<h1>Welcome to the Key Of Life</h1>
<h3> Still pretty blank SongDatabase </h3>

<div>
  <h1> Artists </h1>
  <% @artists.each do |artist|%>
<img src="<%= artist.image %>">
<p>  <%= link_to artist.name, artist_path(artist.id)%></p>
</div>
  <%end%>
